@import "tailwindcss";

@theme {
  --color-primary: #60a5fa;
  --color-secondary: #172554;
  --color-background: #e5e7eb;
  --color-accent: #fef3c7;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
